<div class ="top">

</div>

    <p class="title text-center">Potepan Shareで<br>まだ体験したことのない<br>旅をしよう</p>
    <div class="search-box">
        <div class="input-group">
        <%= search_form_for @q, url: rooms_path do |f| %>
            <%= f.label:address_cont,'エリア名を入力'%>
            <%= f.search_field :address_cont%>
            <%= f.submit '検索' %>
        <% end %> 
        </div>
    </div>