.top {
    position: relative; /*relativeにすることで、pの文字に対する基準になる*/
}

.top_image {
    width: 100%;
    filter: brightness(70%); /*背景画像暗くするやつ*/
}

.title{
    color:white;
    position: absolute;
    font-size: 60px;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
}
